

img{
    width: 100%;
}
/* --------- Header --------- */
.header {
  background-color: var(--mywhite);
}
.header .hamburger .line {
  height: 3px;
  width: 30px;
  display: block;
  background-color: var(--secondary);
  transition: all 0.3s ease;
  margin: 5px;
}

/* --------- Hero --------- */
.sonar_hero .sonar_hero_outer,
.working_sonar .working_outer {
  background-color: var(--sonar_main);
}
.sonar_hero .sonar_hero_inner,
.sonar_hero img{
    max-width: 996px;
    margin: 0 auto;
}

.m_hero .content {
  width: 100%;
  max-width: 966px;
  margin: 0 auto;
  margin-bottom: 65px;
  color: var(--mywhite);
  padding: 113px 0px 350px 0px;
}

.m_hero .image {
  margin-top: -315px;
}

/* --------- Compass / All Two Column--------- */

.two_column .content .heading {
  width: 100%;
  max-width: 924px;
}

/* -------------- Relative Section -------------- */
.relative_section .counter_div .box{
    background: #F8F8F8;
    padding:59px 55px;;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
}
.relative_section .counter_div .box3 .number p{
    position: relative;
}
.relative_section .counter_div .box3 .number::before {
  content: "$";
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 3.5px;
  color: #3dbeaf;
  display: flex;
}

/* ---------- Credit Section ------------ */
.credit .credit_inner{
  width: 100%;
  max-width: 1290px;
}
.two_rows .image{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
/* ---------- Hold Out Section ------------ */
.hold_out .hold_out_outer{
  background-color: var(--sonar_main);

}
.hold_out .hold_out_inner{
  width: 100%;
  /* max-width: 1180px; */
  margin:0 auto;
}
.hold_out .hold_out_inner h2{
  color:var(--mywhite);
  font-weight: 400;
}
.m_hero .content {
  max-width: 100%;

}
/* ---------- Working Section ------------ */
.working .bottom .right{
  width: 100%;
  max-width: 820px;
}
.working .bottom .left{
  width: 100%;
  max-width: 520px;
}
.working_sonar{
  background-color: var(--sonar_main);
  padding:140px 0px;
  color:#F8F8F8;
}
.working p{
  text-align: left;
}
.working p:first-child{
  padding-bottom:30px;
}



/* --------- Footer--------- */

.footer {
  background-color: var(--main_header);
  color: var(--mywhite);
}
.footer .down .left {
  width: 100%;
  max-width: 820px;
}
.footer p {
  font-weight: 300;
}
.footer .up{
  width: 100%;
  max-width: 360px;
}
.footer .down .right {
  width: 100%;
  max-width: 378px;
}
.footer a {
  font-weight: 300;
  color: var(--mywhite);
}
/* ------------- Copyright ------------- */
.copyright {
  background-color: var(--secondary);
  color: var(--mywhite);
}


/* --------- Sonar Page section --------- */
.left_right li img{
  height:90px;
  min-width: 102px;
}
.left_right h2{
  color: var(--sonar_main);
}
.left_right .listing li{
  display: flex;
  align-items: center;
  gap:30px;
}
.left_right .listing li div:last-child, .provides .right{
  width: 100%;
  max-width: 560px;
}
.left_right .listing li:not(:last-child){
  padding-bottom:30px;
}
.path .unorderd_list ul li:before{
  content:"\20DD";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: var(--primary);
  opacity: 1 !important;
  font-size: 20px;
}
.path .unorderd_list ul li{
  padding:0px !important  ;
}

/* --------- Interaction section --------- */
.box_shadow .image {
  box-shadow: 0px 5px 8px #00000029;
  border-radius: 10px;
}
 


/* --------------------------- Media Query --------------------------- */

@media only screen and (max-width: 1700px) {
}
@media only screen and (max-width: 1600px) {
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1366px) {
}
@media only screen and (max-width: 1280px) {
  .hero {
    padding: 100px 0px 380px 0px;
  }
}
@media only screen and (max-width: 1180px) {
  .two_column .two_column_inner {
    gap: 70px;
  }
  .two_column .content {
    gap: 15px;
  }
  .two_column {
    padding: 50px 0px;
  }

  /* Sextant */
  .relative_section .counter_div .box3 .number::before {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1080px) {
  .left_right .bottom{
    flex-direction: column;
  }
  .left_right .left .h7{
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 991px) {
  .header {
    position: relative;
  }
  .header .hamburger {
    display: block;
  }
  .header .hamburger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .header .hamburger .line2 {
    transition: all 0.7s ease;
    width: 0;
  }
  .header .hamburger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .header .right {
    display: none;
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    background-color: var(--primary);
    width: 100%;
    padding: 50px 0px;
  }
  .header .right ul {
    flex-direction: column;
    padding-bottom: 75px;
    transition: all 0.7s ease;
  }
  .header .right ul li a {
    color: var(--mywhite);
  }
  .hero {
    padding: 100px 0px 280px 0px;
  }

  /* ---------Compass Page--------- */
  .m_hero .content {
    padding: 45px 0px 235px 0px;
  }
  .m_hero .image {
    width: 75%;
    margin-top: -224px;
  }

    /*-------- Sextant page --------*/
  .visualization .slick-prev:before,
  .visualization .slick-next:before {
    font-size: 40px;
  }
  .visualization h2 {
    padding-bottom: 30px;
  }
  .relative_section .counter_div .box {
    padding: 15px;
  }
  .working .bottom{
    flex-direction: column;
    text-align: center;
  }
  .working .bottom p{
    text-align: center;
  }

}
@media only screen and (max-width: 768px) {
  .two_column .two_column_inner .content {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
  .two_column .image {
    display: none;
  }
  .two_column .image_in {
    display: flex;
  }
  .two_column {
    padding: 20px 0px;
  }
  .footer .down {
    flex-wrap: wrap;
  }
  .footer a {
    font-size: 18px;
  }
  .hero {
    padding: 50px 0px 200px 0px;
  }

  /* --------------- Compass ------------- */
  .working {
    padding: 60px 0px;
  }
  .working .content {
    padding-bottom: 35px;
  }

  /* --------------- Sextant ------------- */

  .two_rows .description {    
    padding-bottom: 20px;
  }
  .two_rows .image{
    width: 90%;
    margin: 0 auto;
  } 
  .relative_section .counter_div{
    flex-direction: column;
    width: 90%;
  }
  .relative_section .counter_div .box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .padtop75, .padtop110, .padtop60{
    padding-top:25px !important;
  }
  .padbot75, .padbot110, .padbot60, .padbot70 {
    padding-bottom:25px !important;
  }
  .gap55{
    gap: 25px;
  }

  /* ------------Sonar--------- */
  .left_right li img{
    height:60px;
    min-width: 50px;
  }

}
@media only screen and (max-width: 640px) {
  .hero {
    padding: 50px 0px 100px 0px;
  }
  .hero .content {
    padding: 0px;
  }
  .footer a {
    font-size: 16px;
  }

  /* Compass Page */
  .m_hero .content {
    padding: 45px 0px 260px 0px;
  }
  .m_hero .image {
    width: 75%;
    margin-top: -320px;
  }


  /*-------- Sextant page --------*/
  .visualization .slick-prev:before,
  .visualization .slick-next:before {
    font-size: 30px;
  }
  .visualization h2 {
    padding-bottom: 15px;
  }
  .visualization .heading{
    padding-bottom: 15px;
  }
  .hold_out h2{
    font-size: 20px;
  }

}
@media only screen and (max-width: 520px) {
  /* Compass Page */
  .m_hero .content {
    padding: 45px 0px 220px 0px;
  }
  .m_hero .image {
    /* width:90%; */
    margin-top: -280px;
  }
  .relative_section .counter_div .box{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 418px) {
  .hero {
    padding: 50px 0px 30px 0px;
  }
  .header .header_inner {
    gap: 25px;
  }

  /* Compass Page */
  .m_hero .image {
    width: 90%;
  }

  /* Sonar Page */
  .left_right .listing li{
    flex-direction: column;
    gap:10px;
    text-align: center;
  }
  .left_right .bottom{
    gap:30px;
  }
  .path .unorderd_list ul li:before{
    content:"";
  }

}
@media only screen and (max-width: 375px) {
  /* Compass Page */
  .m_hero .content {
    padding: 45px 0px 220px 0px;
  }
  .m_hero .image {
    width: 90%;
    margin-top: -250px;
  }

@media only screen and (max-width: 320px) {
  .m_hero .content {
    padding: 45px 0px 155px 0px;
  }
  .m_hero .image {
    width: 90%;
    margin-top: -215px;
  }
  .m_hero .content {
    margin:0;
  }
}
}
